<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="cacheEnabled" value="false" />
		<setting name="lazyLoadingEnabled" value="false" />
		<setting name="multipleResultSetsEnabled" value="true" />
		<setting name="useColumnLabel" value="true" />
		<setting name="useGeneratedKeys" value="false" />
		<setting name="defaultExecutorType" value="SIMPLE" />
		<setting name="defaultStatementTimeout" value="25000" />
		<setting name="callSettersOnNulls" value="true"/>
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>
	
	<typeAliases>
		<!-- capsy -->
		<typeAlias alias="VehicleStatusRequestVo" type="com.nemustech.platform.lbs.ngms.vo.VehicleStatusRequestVo" />
		<typeAlias alias="VehicleStatusVo" type="com.nemustech.platform.lbs.ngms.vo.VehicleStatusVo" />
		<typeAlias alias="DrivingEventVo" type="com.nemustech.platform.lbs.ngms.vo.DrivingEventVo" />
		<typeAlias alias="ViolationHistoryVo" type="com.nemustech.platform.lbs.ngms.vo.ViolationHistoryVo" />
		<typeAlias alias="RoadSectionVo" type="com.nemustech.platform.lbs.ngms.vo.RoadSectionVo" />
		<typeAlias alias="SpeedLimitRequestVo" type="com.nemustech.platform.lbs.ngms.vo.SpeedLimitRequestVo" />
		<typeAlias alias="RestrictAreaRequestVo" type="com.nemustech.platform.lbs.ngms.vo.RestrictAreaRequestVo" />
		
		<!-- [2016/08/18] Deprecated  
			<typeAlias alias="RoadSectionUpdateRequestVo" type="com.nemustech.platform.lbs.ngms.vo.RoadSectionUpdateRequestVo" />
		-->
		
		<!-- 공통코드 -->
		<typeAlias alias="CodeWorkTypeVo" type="com.nemustech.platform.lbs.wwms.vo.CodeWorkTypeVo" />
		<typeAlias alias="CodeFactoryZoneVo" type="com.nemustech.platform.lbs.wwms.vo.CodeFactoryZoneVo" />
		
		<typeAlias alias="ZoneVo" type="com.nemustech.platform.lbs.wwms.vo.ZoneVo" />
		<typeAlias alias="ZoneCoordVo" type="com.nemustech.platform.lbs.wwms.vo.ZoneCoordVo" />
		
		<typeAlias alias="FactoryVo"      type="com.nemustech.platform.lbs.wwms.vo.FactoryVo" />
		<typeAlias alias="FactoryCoordVo" type="com.nemustech.platform.lbs.wwms.vo.FactoryCoordVo" />
			
		<!-- 위험지역 -->
		<typeAlias alias="MapWorkStatusRequestVo" type="com.nemustech.platform.lbs.wwms.vo.MapWorkStatusRequestVo" />
		<typeAlias alias="MapFactoryRestrictUpdateRequestVo" type="com.nemustech.platform.lbs.wwms.vo.MapFactoryRestrictUpdateRequestVo" />
		<typeAlias alias="MapZoneRestrictUpdateRequestVo" type="com.nemustech.platform.lbs.wwms.vo.MapZoneRestrictUpdateRequestVo" />
					
		<typeAlias alias="MapWorkStatusOnFactoriesVo" type="com.nemustech.platform.lbs.wwms.vo.MapWorkStatusOnFactoriesVo" />
		<typeAlias alias="MapWorkStatusOnZonesVo" type="com.nemustech.platform.lbs.wwms.vo.MapWorkStatusOnZonesVo" />
		<typeAlias alias="MapWorkStatusOnWorkTypeVo" type="com.nemustech.platform.lbs.wwms.vo.MapWorkStatusOnWorkTypeVo" />
		
		<!-- 위험지역 작업자 연락처 -->
		<typeAlias alias="WorkerContactRequestVo" type="com.nemustech.platform.lbs.wwms.vo.WorkerContactRequestVo" />
		<typeAlias alias="WorkerContactVo" type="com.nemustech.platform.lbs.wwms.vo.WorkerContactVo" />
		
		<!-- [2016/08/18] UPGRADE -->
		<!-- 도로정보조회에 vehicle_type 추가 -->
		<typeAlias alias="RoadSectionListVo" type="com.nemustech.platform.lbs.ngms.vo.RoadSectionListVo" />
		
		<!-- end of capsy -->
		
		<!-- eojin -->
		<typeAlias alias="VehicleRegVo" type="com.nemustech.platform.lbs.ngms.vo.VehicleRegVo" />
		<typeAlias alias="SearchVo" type="com.nemustech.platform.lbs.common.vo.SearchVo" />		
		<typeAlias alias="NaviDevice" type="com.nemustech.platform.lbs.ngms.vo.NaviDeviceVo" />
		
		<typeAlias alias="LineLimitVo" type="com.nemustech.platform.lbs.ngms.vo.LineLimitVo" />
		<typeAlias alias="RoadLinkedVo" type="com.nemustech.platform.lbs.ngms.vo.RoadLinkedVo" />
		<typeAlias alias="AppDrivingEventVo" type="com.nemustech.platform.lbs.ngms.vo.AppDrivingEventVo" />
		<typeAlias alias="LineLimitVo" type="com.nemustech.platform.lbs.ngms.vo.LineLimitVo" />
		<typeAlias alias="LineThresholdVo" type="com.nemustech.platform.lbs.ngms.vo.LineThresholdVo" />
		<typeAlias alias="AppViolationEventVo" type="com.nemustech.platform.lbs.ngms.vo.AppViolationEventVo" />
		<typeAlias alias="AppGpsEventVo" type="com.nemustech.platform.lbs.ngms.vo.AppGpsEventVo" />
		<typeAlias alias="AppVehicleRegVo" type="com.nemustech.platform.lbs.ngms.vo.AppVehicleRegVo" />
		<typeAlias alias="NaviDeviceVo" type="com.nemustech.platform.lbs.ngms.vo.NaviDeviceVo" />
		<typeAlias alias="DateVo" type="com.nemustech.platform.lbs.common.vo.DateVo" />
		
		<typeAlias alias="PushHistoryVo" type="com.nemustech.platform.lbs.common.vo.PushHistoryVo" />
		<typeAlias alias="PushTargetVo" type="com.nemustech.platform.lbs.common.vo.PushTargetVo" />
		<typeAlias alias="MapVo" type="com.nemustech.platform.lbs.common.vo.MapVo" />
		<typeAlias alias="CoordinateOrder" type="com.nemustech.platform.lbs.common.model.CoordinateOrder" />
		
		<typeAlias alias="GpsZoneVo" type="com.nemustech.platform.lbs.wwms.vo.GpsZoneVo" />
		<typeAlias alias="CodeWorkNoVo" type="com.nemustech.platform.lbs.wwms.vo.CodeWorkNoVo" />
		<typeAlias alias="ParterNameVo" type="com.nemustech.platform.lbs.wwms.vo.ParterNameVo" />
		
		<typeAlias alias="BeaconZoneVo" type="com.nemustech.platform.lbs.wwms.vo.BeaconZoneVo" />
		<typeAlias alias="BeaconVo" type="com.nemustech.platform.lbs.wwms.vo.BeaconVo" />
		
		<typeAlias alias="AppZoneEventVo" type="com.nemustech.platform.lbs.wwms.vo.AppZoneEventVo" />
		<typeAlias alias="AppGpsBleEventVo" type="com.nemustech.platform.lbs.wwms.vo.AppGpsBleEventVo" />
		<typeAlias alias="AppWorkUnRegEventVo" type="com.nemustech.platform.lbs.wwms.vo.AppWorkUnRegEventVo" />
		<typeAlias alias="AppWorkRegEventVo" type="com.nemustech.platform.lbs.wwms.vo.AppWorkRegEventVo" />
		<typeAlias alias="AppPwdEventVo" type="com.nemustech.platform.lbs.wwms.vo.AppPwdEventVo" />
		
		<typeAlias alias="DeviceVo" type="com.nemustech.platform.lbs.common.vo.DeviceVo" />
		<!-- end of eojin -->
		
		<!-- mhyoon -->
		<typeAlias alias="AdminAccountVo" type="com.nemustech.platform.lbs.web.vehicle.vo.AdminAccountVo" />
		<typeAlias alias="AdminAccountCudVo" type="com.nemustech.platform.lbs.web.vehicle.vo.AdminAccountCudVo" />
		<typeAlias alias="AdminAccountSearchVo" type="com.nemustech.platform.lbs.web.vehicle.vo.AdminAccountSearchVo" />
		<typeAlias alias="NaviDeviceSearchVo" type="com.nemustech.platform.lbs.ngms.vo.NaviDeviceSearchVo" />
		<typeAlias alias="NaviDeviceAssignedVo" type="com.nemustech.platform.lbs.ngms.vo.NaviDeviceAssignedVo" />
		<typeAlias alias="ResponseLoginVo" type="com.nemustech.platform.lbs.common.vo.ResponseLoginVo" />
		<typeAlias alias="LoginVo" type="com.nemustech.platform.lbs.common.vo.LoginVo"/>
		<typeAlias alias="LoginHistoryVo" type="com.nemustech.platform.lbs.common.vo.LoginHistoryVo"/>				
		<typeAlias alias="ResetLoginVo" type="com.nemustech.platform.lbs.common.vo.ResetLoginVo"/>		
		<typeAlias alias="DeviceDangerVo" type="com.nemustech.platform.lbs.wwms.vo.DeviceDangerVo"/>
		<typeAlias alias="DeviceDangerCudVo" type="com.nemustech.platform.lbs.wwms.vo.DeviceDangerCudVo"/>
		<typeAlias alias="DeviceDangerPasswordVo" type="com.nemustech.platform.lbs.wwms.vo.DeviceDangerPasswordVo"/>		
		<typeAlias alias="BeaconDangerVo" type="com.nemustech.platform.lbs.wwms.vo.BeaconDangerVo"/>
		<typeAlias alias="BeaconDangerActivateVo" type="com.nemustech.platform.lbs.wwms.vo.BeaconDangerActivateVo"/>
		
		<!-- 1608 [개인폰] 추가 -->
		<typeAlias alias="AppAliveReportEventVo" type="com.nemustech.platform.lbs.wwms.vo.AppAliveReportEventVo"/>
		<typeAlias alias="CodeOrganizationVo" type="com.nemustech.platform.lbs.wwms.vo.CodeOrganizationVo"/>
		<typeAlias alias="CodeVehicleTypeVo" type="com.nemustech.platform.lbs.ngms.vo.CodeVehicleTypeVo"/>
		<typeAlias alias="CodeVehicleDestinationVo" type="com.nemustech.platform.lbs.ngms.vo.CodeVehicleDestinationVo"/>
		<typeAlias alias="CodeVehicleDestinationTypeVo" type="com.nemustech.platform.lbs.ngms.vo.CodeVehicleDestinationTypeVo"/>
		<typeAlias alias="AppWorkerRegEventVo" type="com.nemustech.platform.lbs.wwms.vo.AppWorkerRegEventVo"/>
		<typeAlias alias="AppServerAccessEventVo" type="com.nemustech.platform.lbs.wwms.vo.AppServerAccessEventVo"/>
		<typeAlias alias="MetaZoneVo" type="com.nemustech.platform.lbs.ngms.vo.MetaZoneVo"/>
		<typeAlias alias="AppResourceFileInfoVo" type="com.nemustech.platform.lbs.ngms.vo.AppResourceFileInfoVo" />
		<typeAlias alias="DeviceBeaconVo" type="com.nemustech.platform.lbs.common.vo.DeviceBeaconVo" />
		<typeAlias alias="DeviceEcgiVo" type="com.nemustech.platform.lbs.common.vo.DeviceEcgiVo" />
		<typeAlias alias="EnterExitRecordVo" type="com.nemustech.platform.lbs.wwms.vo.EnterExitRecordVo" />
		<typeAlias alias="ServerConfigVo" type="com.nemustech.platform.lbs.wwms.vo.ServerConfigVo"/>
		<typeAlias alias="LpmsWorksVo" type="com.nemustech.platform.lbs.lpms.vo.LpmsWorksVo" />
        <typeAlias alias="LpmsWorkVo" type="com.nemustech.platform.lbs.lpms.vo.LpmsWorkVo"/>
        <typeAlias alias="LpmsWorkTypeVo" type="com.nemustech.platform.lbs.lpms.vo.LpmsWorkTypeVo"/>
        <typeAlias alias="PortalLoginVo" type="com.nemustech.platform.lbs.common.vo.PortalLoginVo"/>
		
		<!-- end of mhyoon -->
		
		<!-- kihan -->
		<typeAlias alias="WorkStatusRequestVo" type="com.nemustech.platform.lbs.wwms.vo.WorkStatusRequestVo" />
		<typeAlias alias="WorkStatusVo" type="com.nemustech.platform.lbs.wwms.vo.WorkStatusVo" />
		<typeAlias alias="WorkIssueVo" type="com.nemustech.platform.lbs.wwms.vo.WorkIssueVo" />
		<typeAlias alias="WorkerMntRequestVo" type="com.nemustech.platform.lbs.wwms.vo.WorkerMntRequestVo" />
		<typeAlias alias="WorkerMntVo" type="com.nemustech.platform.lbs.wwms.vo.WorkerMntVo" />
		<typeAlias alias="WorkMntRequestVo" type="com.nemustech.platform.lbs.wwms.vo.WorkMntRequestVo" />
		<typeAlias alias="WorkMntVo" type="com.nemustech.platform.lbs.wwms.vo.WorkMntVo" />
		<typeAlias alias="WorkVo" type="com.nemustech.platform.lbs.wwms.vo.WorkVo" />
		<typeAlias alias="DrivingEventExcelVo" type="com.nemustech.platform.lbs.ngms.vo.DrivingEventExcelVo" />
		<typeAlias alias="AppDeviceInfoVo" type="com.nemustech.platform.lbs.ngms.vo.AppDeviceInfoVo"/>
		<!-- end of kihan -->
		
		<typeAlias alias="ServerConfig" type="com.nemustech.platform.lbs.common.vo.ServerConfig"/>
		
	</typeAliases>
	
	
	<typeHandlers>
		<!-- java.sql.Timestamp 를 java.util.Date 형으로 반환 -->
		<typeHandler javaType="java.sql.Timestamp"
			handler="org.apache.ibatis.type.DateTypeHandler" />
		<typeHandler javaType="java.sql.Time"
			handler="org.apache.ibatis.type.DateTypeHandler" />
		<typeHandler javaType="java.sql.Date"
			handler="org.apache.ibatis.type.DateTypeHandler" />
	</typeHandlers>

	<plugins>
		<plugin interceptor="com.nemustech.common.db.mybatis.ExecutorInterceptor" />
	</plugins>

</configuration>