<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<configuration scan="true" scanPeriod="5 seconds">
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%-10.10t] %5p [%-30.30C{2}\(%-20.20M:%-5.5L\)] %m%n</pattern>
		</encoder>
	</appender>

	<!--Daily rolling file appender -->
	<appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${com.nemustech.home}/config/vehicle/logs/indoornow.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${com.nemustech.home}/config/vehicle/logs/indoornow.log.%d{yyyy-MM-dd}.%i.zip</FileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<!-- 단위 : KB, MB, GB (생략시 Byte) -->
				<maxFileSize>100MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
			<!-- 단위 : 일 -->
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%-10.10t] %5p [%-30.30C{2}\(%-20.20M:%-5.5L\)] %m%n</pattern>
		</encoder>
	</appender>

	<!-- <logger name="org.springframework" level="debug" /> -->
	<!-- <logger name="org.apache.commons" level="debug" /> -->
	<!-- <logger name="org.apache.http" level="debug" /> -->

	<logger name="jdbc" level="off" />
	<!-- 바인딩된 SQL 출력시 -->
	<!-- <logger name="jdbc.sqltiming" level="info" /> -->
	<!-- SQL 결과 출력시 -->
	<!-- <logger name="jdbc.resultsettable" level="info" /> -->

	<!-- 디버깅 데이타와 SQL(debug)과 결과(trace) 출력시 -->
	<logger name="com.nemustech.platform.lbs" level="debug" />
	<!-- Mybatis SQL ID 출력시 -->
	<logger name="com.nemustech.indoornow.lbs.interceptor" level="debug" />

	<root level="info">
		<appender-ref ref="console" />
		<appender-ref ref="file" />
	</root>
</configuration>
