<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nemustech.platform.lbs.wwms.mapper.DangerApiMapper">
	<resultMap type="GpsZoneVo" id="gps_zone">
		<result property="gps_zone_id" column="factory_uid" />
		<result property="gps_zone_name" column="name" />
		<result property="restricted" column="is_restricted" />
		<result property="polygon" column="polygon" />
		<collection property="zone_points" ofType="CoordinateOrder">
			<result property="x" column="x" />
			<result property="y" column="y" />
			<result property="lat" column="latitude" />
			<result property="lng" column="longitude" />
			<result property="order" column="order_no" />
		</collection>
		<!-- 
		<collection property="beacon_zones" ofType="BeaconZoneVo">
			<result property="beacon_zone_id" column="zone_uid" />
			<result property="restricted" column="is_beacon_restricted" />
			<collection property="beacon_list" ofType="BeaconVo">
				<result property="beacon_id" column="beacon_uid" />
				<result property="beacon_position" column="beacon_position" />
			</collection>
		</collection>
		 -->
		
	</resultMap>
	
	<resultMap type="BeaconZoneVo" id="beacon_zone">
		<result property="beacon_zone_id" column="zone_uid" />
		<result property="beacon_zone_name" column="zone_name" />
		<result property="gps_zone_id" column="factory_uid" />
		<result property="gps_zone_name" column="factory_name" />
		<result property="restricted" column="is_restricted" />
		<collection property="beacon_list" ofType="BeaconVo">
			<result property="beacon_id" column="beacon_uid" />
			<result property="beacon_position" column="beacon_position" />
			<result property="beacon_name" column="beacon_name" />
		</collection>
	</resultMap>
	
	<select id="selectUid" resultType="java.lang.String">
		SELECT fn_make_uid()
	</select>
	
	
	<select id="getLastModifiedGpsZone" resultType="DateVo">
		<![CDATA[
			SELECT reg_date, upd_date FROM tbda_factory
			ORDER BY upd_date DESC LIMIT 1
		]]>
	</select>
	
	
	<select id="getLastModifiedBeaconZone" resultType="DateVo">
		<![CDATA[
			SELECT reg_date, upd_date FROM tbda_zone
			ORDER BY upd_date DESC LIMIT 1
		]]>
	</select>
	
	<!-- 160804 [개인폰] [수정] [안전운행] polygon 값은 MAX(order_no) -->
	<select id="selectGpsZoneList" parameterType="String" resultMap="gps_zone">
		SELECT 
		    t1.factory_uid,
		    t1.name,
		    t1.is_restricted,
		    t2.x,
		    t2.y,
		    t2.latitude,
		    t2.longitude,
		    t2.order_no
		    ,(SELECT MAX(order_no) FROM tbda_factory_coord WHERE factory_uid = t1.factory_uid) AS polygon
		FROM
		    tbda_factory t1 INNER JOIN tbda_factory_coord t2 ON t1.factory_uid = t2.factory_uid
		WHERE
		    t1.is_factory = 1
		ORDER BY t1.factory_uid , t2.order_no
	</select>


	<select id="selectBeaconZoneList" parameterType="String" resultMap="beacon_zone">
		SELECT  
			 t1.factory_uid
			,(select name from tbda_factory where factory_uid = t1.factory_uid) AS factory_name
			,t1.name AS zone_name
			,t1.zone_uid
			,t1.is_restricted
			,t2.beacon_uid
			,t2.beacon_position
			,t2.name AS beacon_name
		FROM 
			tbda_zone t1  inner join tbda_beacon t2 on t1.zone_uid = t2.zone_uid 
		ORDER BY t1.factory_uid, t1.zone_uid, t2.beacon_uid, t2.beacon_position
	</select>
	
	<!-- // [단말API] [출입감지 08] 작업자 출입 이벤트 -->
	<insert id="insertAppGpsEvent"   parameterType="AppZoneEventVo">
		insert into tbda_gps_event (
			gps_event_uid
			<if test="event_enter_type == 1">
			,work_uid
			</if>
			,factory_uid
			,is_entered
			,is_restricted
			,x
			,y
			,latitude
			,longitude
			,app_reg_time
			,device_no
			<if test="event_enter_type == 0">
			,worker_uid
			</if>
		 ) 
		values (
			 fn_make_uid()
			<if test="event_enter_type == 1">
			,#{work_uid}
			</if>
			,#{zone_id}
			,#{entered}
			,#{restricted}
			,#{position.x}
			,#{position.y}
			,#{position.lat}
			,#{position.lng}
			,#{time}
			,#{device_no}
			<if test="event_enter_type == 0">
			,#{worker_uid}
			</if>
		)
	</insert>
	
	<!-- // [단말API] [출입감지 08] 작업자 출입 이벤트 -->
	<insert id="insertAppBeaconEvent"   parameterType="AppZoneEventVo">
		insert into tbda_beacon_event(
			beacon_event_uid
			<if test="event_enter_type == 1">
			,work_uid
			</if>
			,zone_uid
			,is_entered
			,is_restricted
			,app_reg_time
			,device_no
			<if test="event_enter_type == 0">
			,worker_uid
			</if>
		 ) 
		 values (
			 fn_make_uid()
			<if test="event_enter_type == 1">
			,#{work_uid}
			</if>
			,#{beacon_zone_id}
			,#{entered}
			,#{restricted}
			,#{time}
			,#{device_no}
			<if test="event_enter_type == 0">
			,#{worker_uid}
			</if>
		)
	</insert>
	
	<!-- // [단말API] [출입감지 08] 작업자 출입 이벤트 -->
	<update id="updateLastZoneEvent"  parameterType="AppZoneEventVo">		
		UPDATE 
			tbda_worker_assigned
<!-- [개인폰] [수정] tbda_work -->
		SET
		last_checking_date = now() 
		<if test="type =='gps'">
			<if test="entered ==0">
				,last_factory_uid = null
			</if>
			<if test="entered ==1">
				,last_factory_uid = #{zone_id}
			</if>
			,is_on_zone = 0
			,last_zone_uid = null
		</if>
		<if test="type =='beacon'">
			<if test="entered ==0">
				,last_zone_uid = null
			</if>
			<if test="entered ==1">
				,last_zone_uid = #{beacon_zone_id}
			</if>
			,is_on_zone = 1
			,last_factory_uid = null
		</if>
		WHERE
			work_uid = #{work_uid} and device_no = #{device_no}
	</update>
	
	<!-- // [단말API] [출입감지 08] 비인가 작업자 출입 이벤트 -->
	<update id="updateWorkerAssignLastZoneEvent"  parameterType="AppZoneEventVo">
		UPDATE 
			tbda_worker_assigned
		SET
			last_checking_date = now()
		<if test="type =='gps'">
			<if test="entered ==0">
				,last_factory_uid = null
			</if>
			<if test="entered ==1">
				,last_factory_uid = #{zone_id}
			</if>
			,is_on_zone = 0
			,last_zone_uid = null
		</if>
		<if test="type =='beacon'">
			<if test="entered ==0">
				,last_zone_uid = null
			</if>
			<if test="entered ==1">
				,last_zone_uid = #{beacon_zone_id}
			</if>
			,is_on_zone = 1
			,last_factory_uid = null
		</if>
		WHERE
			device_no = #{device_no} and is_completed = 2 and reg_date <![CDATA[>=]]> CURDATE()
	</update>	
	
	<select id="cntWorking" resultType="Integer" parameterType="AppZoneEventVo">
		<![CDATA[
			SELECT
				COUNT(1) CNT
			FROM 
				tbda_work
			WHERE
				work_uid = #{work_uid} and is_completed = 0 
		]]>
	</select>
	
	<update id="updateGpsBleEvent"  parameterType="AppGpsBleEventVo">
		UPDATE 
			tbda_work
		SET
		<if test="type =='gps'">
			<![CDATA[is_gps_on = #{enable}]]>
		</if>
		<if test="type =='beacon'">
			<![CDATA[is_bluetooth_on = #{enable}]]>
		</if>
			
		WHERE
			work_uid = #{work_uid}
	</update>
	
	<update id="updateWorkUnReg"  parameterType="AppWorkUnRegEventVo">
		UPDATE 
			tbda_work
		SET
			 is_completed = 1
<!-- 			,complete_date = now() -->
		WHERE
			work_uid = #{work_uid} 
	</update>
	
	<update id="updateDeviceRelease"  parameterType="AppWorkUnRegEventVo">
		UPDATE 
			tbda_device
		SET
			 is_assigned = 0
<!-- 			 ,is_alive_report = 0 -->
			 ,is_alive_report = 2
			 ,last_server_access_time = unix_timestamp(now())
		WHERE
			device_no = #{device_no} 
	</update>
	
	<!-- [개인폰] [추가] 할당작업자 작업종료 -->
	<update id="updateAssignedDeviceRelease"  parameterType="AppWorkUnRegEventVo">		
		UPDATE 
			tbda_worker_assigned
		SET
			is_completed = 1
			,complete_date = now()
<!-- 			,last_factory_uid = null -->
<!-- 			,last_zone_uid = null -->
		WHERE
			device_no = #{device_no}
		AND work_uid  = #{work_uid}
	</update>
	
	<update id="updateNWorkUnReg"  parameterType="AppWorkUnRegEventVo">		
		UPDATE 
			tbda_work
		SET
			 is_completed = 1
		WHERE
			work_uid = #{work_uid}
	</update>
	
	
	<insert id="insertAppWorkReg"   parameterType="AppWorkRegEventVo">
		insert into tbda_work (
			 work_uid
			,factory_uid
			,zone_uid
			,work_no
			,work_day
			,worker_name
			,worker_count
			,starting_date
			,device_uid
			,device_no
			<if test="work_make_type != null and work_make_type != ''">
			,work_make_type
			</if>
		) values
		(
			 #{work_uid}
			,#{factory_uid}
			,#{zone_uid}
			,#{work_no}
			,DATE_FORMAT(NOW(), "%Y-%m-%d")
			,#{worker_name}
			,#{worker_count}
			,now()
			,(select device_uid from tbda_device where device_no = #{device_no})
			,#{device_no}
			<if test="work_make_type != null and work_make_type != ''">
			,#{work_make_type}
			</if>
		)
	</insert>
	
	<!-- [개인폰] [추가]  -->
	<insert id="insertWorkerAssinged"   parameterType="AppWorkRegEventVo">
		INSERT INTO tbda_worker_assigned
		(
			mapping_uid
			,work_uid
			,work_no
			,device_uid
			,device_no
			,worker_uid
			,starting_date
			,is_completed
			,worker_count
			,worker_name
			,factory_uid
			,zone_uid
		)
		VALUES
		(
			fn_make_uid()
			,#{work_uid}
			,(select work_no from tbda_work where work_uid = #{work_uid})
			,(select device_uid from tbda_device where device_no = #{device_no})
			,#{device_no}
			,(select worker_uid from tbda_device where device_no = #{device_no})
			,now()
			,0
			,#{worker_count}
			,#{worker_name}
			,#{factory_uid}
			,#{zone_uid}
		)
	</insert>
	
	<update id="updateAppWorkReg"  parameterType="AppWorkRegEventVo">		
		UPDATE 
			tbda_work
		SET
			 device_uid = (select device_uid from tbda_device where device_no = #{device_no})
			,device_no    = #{device_no}
			,worker_name  = #{worker_name}
			,is_completed = 0
			<if test="work_make_type != null and work_make_type != ''">
			,work_make_type = #{work_make_type}
			</if>
		WHERE
			work_uid = #{work_uid} 
	</update>	
	
	<update id="updateAppWorkRegDevice"  parameterType="AppWorkRegEventVo">
		UPDATE 
			tbda_device
		SET
			  is_assigned = 1 
			 ,last_work_uid = #{work_uid}
			 ,is_alive_report = 1
			 ,last_server_access_time = unix_timestamp(now())
		WHERE
			device_no = #{device_no} 
	</update>	
	
	
	<insert id="insertAppWorkType" parameterType="AppWorkRegEventVo">
		INSERT INTO tbda_work_on_type
		(
			 work_uid
		    ,work_type
		)
		VALUES
		<foreach collection="work_types" item="item" separator=" , ">
            (#{work_uid}, #{item})
        </foreach>
	</insert>
		
	
	<delete id="deleteAppWorkType" parameterType="AppWorkRegEventVo">
		DELETE FROM tbda_work_on_type
		WHERE work_uid = #{work_uid}
	</delete>
	
	
	<select id="cntAppWorkReg" resultType="Integer" parameterType="String">
		<![CDATA[
			SELECT
				COUNT(1) CNT
			FROM 
				tbda_work
			WHERE
				work_uid = #{work_uid} 
		]]>
	</select>
	
	<!-- modify complete_date is null  -->
	<select id="cntAppWorkRegDevice" resultType="Integer" parameterType="String">
		<![CDATA[
			SELECT
				COUNT(1) CNT
			FROM 
				tbda_work
			WHERE
				device_no = #{device_no} and is_completed  = 0  
		]]>
	</select>
	
	<select id="cntWorkerAssignedByDevice" resultType="Integer" parameterType="String">
		<![CDATA[
			SELECT
				COUNT(1) CNT
			FROM 
				tbda_worker_assigned
			WHERE
				device_no = #{device_no} and is_completed  = 0
		]]>
	</select>
	
	<select id="selectIsCompletedAssignedWork" resultType="Integer" parameterType="AppWorkUnRegEventVo">
		<![CDATA[
			SELECT
			    CASE
			        WHEN COUNT(*) = SUM(is_completed) THEN 1
			        ELSE 0
			    END AS cnt
			FROM
			    tbda_worker_assigned
			WHERE
			    work_uid = #{work_uid} 
		]]>
	</select>
	
	
	<select id="makeWorkNo" resultType="String" parameterType="String">
		<![CDATA[
			SELECT 	
				CONCAT(DATE_FORMAT(now(),'%y%m%d'),'_',#{name},'_',LPAD(CAST(RIGHT(IFNULL(MAX(work_no), '000'),3)  AS UNSIGNED INTEGER) + 1 , 3,'0')) AS work_no
			FROM 
				tbda_work
			WHERE
				work_no like concat(DATE_FORMAT(now(),'%y%m%d'),'\_', #{name}, '\_', '%')
		]]>
	</select>
	
	<select id="selectFactoryName" resultType="String" parameterType="String">
		<![CDATA[
			SELECT 	
				name
			FROM 
				tbda_factory
			WHERE
				factory_uid = #{factory_uid}
		]]>
	</select>
	
	<select id="selectZoneName" resultType="String" parameterType="String">
		<![CDATA[
			SELECT 	
				name
			FROM 
				tbda_zone
			WHERE
				zone_uid = #{zone_uid}
		]]>
	</select>
	
	<select id="selectWork" resultType="WorkerMntVo" parameterType="String">
		<![CDATA[
			SELECT 	
				*
			FROM 
				tbda_work
			WHERE
				work_uid = #{work_uid}
		]]>
	</select>
	
	
	<select id="selectAlram" resultType="java.util.Map">
		<![CDATA[
			SELECT * FROM (
			SELECT
				t1.work_uid
				,case is_on_zone when 1 then 'beacon' else 'gps' end type  
				,case when t1.factory_uid is null then t1.zone_uid else t1.factory_uid end uid 
				,case is_on_zone when 1 then last_zone_uid else last_factory_uid end last_uid 
				,case is_on_zone when 1 then t2.name else t3.name end name
				,case is_on_zone when 1 then t2.is_restricted else t3.is_restricted end is_restricted
				,last_checking_date
				,unix_timestamp(last_checking_date) time
				
			FROM 
				tbda_work t1 left join tbda_zone t2 on t1.last_zone_uid = t2.zone_uid
				left join tbda_factory t3 on t1.last_factory_uid = t3.factory_uid 
			WHERE 
				 t1.is_completed = 0 
			)  T WHERE uid != last_uid and is_restricted = 1
					
			ORDER BY last_checking_date desc
			LIMIT 1
		]]>
	</select>
	
	
	<update id="updateAppDevicePushId" parameterType="AppPwdEventVo">
		UPDATE 
			tbda_device
		SET
			 push_id = #{fcm_token}
			 ,last_server_access_time = unix_timestamp(now())
		WHERE
			device_no = #{device_no}	
	</update>
	
	
	<select id="selectDeviceInfo" resultType="DeviceDangerVo" parameterType="String">
		<![CDATA[
			SELECT
				*			
			FROM 
				tbda_device
			WHERE
				device_no = #{device_no} and is_used = 1 
		]]>
	</select>
	
	<select id="selectWorkInfo" parameterType="String" resultType="AppWorkRegEventVo">
		SELECT 
			work_uid,
			case when zone_uid is null then 'gps' else 'beacon' end zone_type,
			case when zone_uid is null then factory_uid else zone_uid end zone_id
		FROM 
			tbda_work
		WHERE 
			work_uid = #{work_uid} and is_completed = 0 
	</select>
	
	<select id="selectCountWorkAssignedTypeTwo" parameterType="String" resultType="java.lang.Integer">
		SELECT 
			count(*) as totalcnt
		FROM
			tbda_worker_assigned wa
		WHERE
			device_no = #{device_no} AND reg_date <![CDATA[ > ]]> CURDATE() AND is_completed = 2
	</select>
		
	<update id="updateWorkerAssigned" parameterType="AppWorkRegEventVo" >
		UPDATE tbda_worker_assigned
		SET
<!-- 			mapping_uid -->
			work_uid = #{work_uid}
			,work_no = (select work_no from tbda_work where work_uid = #{work_uid})
<!-- 			,device_uid -->
<!-- 			,device_no -->
			,worker_uid = (select worker_uid from tbda_device where device_no = #{device_no})
			,starting_date = now()
			,is_completed = 0
			,worker_count = #{worker_count}
			,worker_name = #{worker_name}
			,factory_uid = #{factory_uid}
			,zone_uid = #{zone_uid}
		WHERE
			device_no = #{device_no} AND reg_date <![CDATA[ > ]]> CURDATE() AND is_completed = 2
	</update>


	<!-- 0903 device_uid 로 worker_uid 정보 가져오기 -->
	<select id="selectDeviceWorkerUidByDeviceUid" parameterType="String" resultType="String">
		SELECT 
			ifnull(worker_uid,0) as worker_uid
		FROM
			tbda_device d
		WHERE
			device_uid = #{device_uid}
	</select>
	
	<insert id="insertEnterExitRecord" parameterType="EnterExitRecordVo" >
		INSERT INTO tbda_enter_exit_record
		(
			record_uid,
			device_no,
			<if test=" work_uid != null and work_uid != '' ">
			work_uid,
			</if>
			<if test=" worker_uid != null and worker_uid != '' ">
			worker_uid,
			</if>
			factory_uid,
			zone_uid,
			is_restricted,
			enter_date
		)
		VALUES
		(
			fn_make_uid(),
			#{device_no },
			<if test=" work_uid != null and work_uid != '' ">
			#{work_uid },
			</if>
			<if test=" worker_uid != null and worker_uid != '' ">
			#{worker_uid },
			</if>
			#{factory_uid },
			#{zone_uid },
			#{is_restricted },
			now()
 		)
	</insert>
	
	<select id="selectCountEnterExitRecord" parameterType="EnterExitRecordVo"  resultType="java.lang.Integer">
		SELECT 
			count(*) as totalcnt
		FROM
			tbda_enter_exit_record er
		WHERE
			device_no = #{device_no}
		AND exit_date is null
		and is_restricted = #{is_restricted}		
		<if test=" factory_uid != null and factory_uid != '' ">
		AND factory_uid = #{factory_uid}
		</if>
		<if test=" zone_uid != null and zone_uid != '' ">
		AND zone_uid    = #{zone_uid}
		</if>			
		<if test=" work_uid != null and work_uid != '' ">
		AND work_uid   = #{work_uid} 
		</if>
		<if test=" worker_uid != null and worker_uid != '' ">
		and worker_uid = #{worker_uid}
		</if>
		
	</select>
	
		
	<update id="updateEnterExitRecord" parameterType="EnterExitRecordVo" >
		UPDATE tbda_enter_exit_record
		SET
			exit_date = now()
		WHERE
			device_no = #{device_no} 
			AND exit_date is null
<!-- 			<if test=" factory_uid != null and factory_uid != '' "> -->
<!-- 			AND factory_uid = #{factory_uid} -->
<!-- 			</if> -->
<!-- 			<if test=" zone_uid != null and zone_uid != '' "> -->
<!-- 			AND zone_uid    = #{zone_uid} -->
<!-- 			</if> -->
<!-- 			<if test=" work_uid != null and work_uid != '' "> -->
<!-- 			AND work_uid      = #{work_uid} -->
<!-- 			</if> -->
<!-- 			<if test=" worker_uid != null and worker_uid != '' "> -->
<!-- 			AND worker_uid    = #{worker_uid} -->
<!-- 			</if> -->
<!-- 			AND is_restricted = #{is_restricted} -->
	</update>
	
	<select id="selectRestrictedList" resultType="AppZoneEventVo">
		SELECT 
		    eer.device_no,
		    CASE
		        WHEN eer.factory_uid IS NULL THEN 'beacon' ELSE 'gps'
		    END AS type,
		    eer.work_uid,
		    eer.worker_uid,
		    eer.factory_uid AS zone_id,
		    eer.zone_uid AS beacon_zone_id,
		    CASE
		        WHEN eer.factory_uid IS NULL
		        THEN (SELECT name FROM tbda_zone WHERE zone_uid = eer.zone_uid)
		        ELSE (SELECT name FROM tbda_factory WHERE factory_uid = eer.factory_uid)
		    END AS zone_name,
		    eer.is_restricted,
		    eer.enter_date,
		    eer.exit_date
		FROM
		    tbda_enter_exit_record eer,
		    tbda_device d
		WHERE
		    eer.device_no = d.device_no
		AND eer.is_restricted = 0
		AND eer.exit_date IS NULL
		AND d.is_used = 1
		AND d.is_alive_report != 2
		ORDER BY eer.reg_date DESC
	</select>
	
	<!-- 160909 1. 작업시작시 기존 단말에 할당된 작업이 있으면 전부 종료처리 시킨다. -->
	<update id="updateAssignedDeviceReleaseByWorkRegister" parameterType="String">		
		UPDATE 
			tbda_worker_assigned
		SET
			is_completed = 1
			,complete_date = now()
		WHERE
			device_no = #{device_no}
		and is_completed in (0,2)
	</update>
	
	<!-- 160909 2. 작업시작시 기존 단말에 할당된 작업이 있으면 전부 종료처리 시킨다. -->
	<update id="updateDeviceReleaseByWorkRegister"  parameterType="AppWorkUnRegEventVo">
		UPDATE 
			tbda_device
		SET
			 is_assigned = 0
			 ,is_alive_report = 2
			 ,last_server_access_time = unix_timestamp(now())
		WHERE
			device_no = #{device_no}
	</update>
	
	<!-- 160909 2. 작업시작시 기존 단말에 할당된 작업이 있으면 전부 종료처리 시킨다. -->
	<update id="updateNWorkUnRegByWorkRegister" >		
		UPDATE 
			tbda_work w
		SET
			 w.is_completed = 1
		WHERE
		    w.work_uid IN 
		    (
				SELECT 
					t.work_uid
				FROM
				(
					SELECT 
						wa.work_uid,
						IF(COUNT(*) = SUM(wa.is_completed), 1, 0) AS diff
					FROM
						tbda_worker_assigned wa
					WHERE
						wa.work_uid IN (SELECT w.work_uid FROM tbda_work w WHERE w.is_completed = 0)
					GROUP BY wa.work_uid
				) AS t
				WHERE
					t.diff = 1
			) 
	</update>
	
	<update id="updateEnterExitRecodeByWorkRegister" parameterType="String">
		UPDATE 
			tbda_enter_exit_record eer
		SET
			 factory_uid = null
			, zone_uid = null
			, exit_date = now()
		WHERE
			device_no = #{device_no} 
		AND
			exit_date is null
	</update>
	
	<update id="updateDeviceNetworkType" parameterType="AppDeviceInfoVo">
		UPDATE 
			tbda_device
		SET
			network_type = #{device_network_type}
			,last_server_access_time = unix_timestamp(now())
		WHERE device_no = #{device_no} 
	</update>

	<!-- 160919 공장/존 진입후 작업 등록시 인원수 표기 않되는 경우 -->
	<select id="selectCountEnterExitRecordByDeviceNO" parameterType="String" resultType="int">
	<![CDATA[
		SELECT 
			count(*) as totalcnt
		FROM
			tbda_enter_exit_record
		WHERE
			device_no = #{device_no} AND reg_date > CURDATE() AND exit_date IS NULL
	]]>
	</select>
	
	<select id="selectEnterExitRecordByDeviceNo" parameterType="String" resultType="EnterExitRecordVo">
		SELECT 
<!-- 			record_uid, -->
<!-- 		    device_no, -->
<!-- 		    work_uid, -->
<!-- 		    worker_uid, -->
		    factory_uid,
		    zone_uid
<!-- 		    is_restricted, -->
<!-- 		    enter_date, -->
<!-- 		    exit_date -->
		FROM
			tbda_enter_exit_record
		WHERE
			device_no = #{device_no} AND reg_date <![CDATA[ > ]]> CURDATE() AND exit_date IS NULL
		order by reg_date desc limit 1
	</select>
	
	<select id="selectDeviceFactoryUidByDeviceNo" parameterType="String" resultType="java.lang.Integer">
		SELECT 
		    factory_uid
		FROM
		    tbda_device
		WHERE
			device_no = #{device_no}
	</select>
	
	<update id="updateExitDateByCurDate" parameterType="AppDeviceInfoVo">
		UPDATE 
			tbda_enter_exit_record
		SET
			exit_date = now()
		WHERE device_no = #{device_no} AND reg_date <![CDATA[ > ]]> CURDATE() AND exit_date IS NULL
	</update>
	
	<update id="updateEnterExitRecordByCompanyDevice" parameterType="AppWorkUnRegEventVo">
		UPDATE tbda_enter_exit_record eer 
		SET 
		    eer.exit_date = NOW()
		WHERE
		    eer.device_no = #{device_no}
        AND eer.exit_date IS NULL
        AND eer.device_no IN (
        	SELECT d.device_no AS device_no
	        FROM
	            tbda_device d
	        WHERE
	            d.device_no = #{device_no}
	        AND d.network_type = 'totalcompany'
		)
	</update>

	<update id="updateDeviceLastServerAccessTime"  parameterType="String" >
		UPDATE
			tbda_device
		SET
			last_server_access_time = unix_timestamp(now())
		WHERE
			device_no = #{device_no}
	</update>
</mapper>