<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nemustech.platform.lbs.lpms.mapper.LpmsApiMapper">

	<insert id="insertLpmsWorkData" parameterType="LpmsWorkVo">
		insert into tbda_work (
			work_uid
			,factory_uid
<!-- 			,zone_uid -->
			,work_no
			,name
			,work_day
			,parter_code
			,parter_name
			,worker_name
			,worker_count
			,starting_date 
			,work_make_type
			,creator_id
			,is_deleted
		) values
		(
			#{work_uid}
			,(SELECT factory_uid FROM tbcm_lpms_team_code WHERE team_code = #{team_code})
<!-- 			,#{zone_uid} -->
			,#{request_no}
			,#{wr_title}
			,#{work_date}
	<choose>
		<when test="vendor_code == 'LGCHEM'">
			,#{team_code}
			,#{team_desc}
		</when>
		<otherwise>
			,#{vendor_code}
			,#{vendor_desc}	
		</otherwise>
	</choose>
			,#{worker_name}
			,#{man_cnt}
			,STR_TO_DATE(#{work_date}, '%Y-%m-%d')
			,'2'
			,'LPMS'
			,0
		)
	</insert>

	<insert id="insertLpmsWorkTypeData" parameterType="LpmsWorkTypeVo">
		INSERT INTO tbda_work_on_type
		(
			work_uid
			,work_type
		)
		VALUES
		(
			 #{work_uid}
			,#{work_type}
		)
	</insert>
	
	<select id="selectWorkUid" resultType="java.lang.String">
		SELECT fn_make_uid()
	</select>
	
	<select id="selectWorkCount" parameterType="String" resultType="int">
		SELECT count(*) from tbda_work where work_make_type = '2' and work_day = curdate()
	</select>
	
	<select id="selectLpmsDailDataCount" parameterType="String" resultType="int">
		SELECT 
		    IFNULL(COUNT(*), 0) AS count
		FROM
		    tbcm_lpms_daily_data
		WHERE
			work_day = CURDATE()
	</select>
	
	<select id="selectExistWorkNo" parameterType="String" resultType="int">
		SELECT 
		    IFNULL(COUNT(*), 0) AS count
		FROM
		    tbda_work
		WHERE
		    work_make_type = '2'
		AND work_no = #{request_no}
	</select>
	
	<insert id="insertLpmsDailyData" parameterType="LpmsWorkVo">
		INSERT INTO tbcm_lpms_daily_data
		(
			work_date,
			request_no,
			wr_title,
			work_plant,
			work_plant_desc,
			work_gubun,
			vendor_code,
			vendor_desc,
			work_detail,
			work_type1,
			work_type2,
			work_type3,
			work_type4,
			work_type5,
			work_type6,
			work_type7,
			work_type8,
			work_type9,
			man_cnt,
			team_code,
			team_desc,
			worker_name
		)
		VALUES
		(
			#{work_date},
			#{request_no},
			#{wr_title},
			#{work_plant},
			#{work_plant_desc},
			#{work_gubun},
			#{vendor_code},
			#{vendor_desc},
			#{work_detail},
			#{work_type1},
			#{work_type2},
			#{work_type3},
			#{work_type4},
			#{work_type5},
			#{work_type6},
			#{work_type7},
			#{work_type8},
			#{work_type9},
			#{man_cnt},
			#{team_code},
			#{team_desc},
			#{worker_name}
		)
	</insert>
</mapper>