<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nemustech.platform.lbs.common.mapper.MapApiMapper">
	
	
	<select id="getLastModifiedMap" parameterType="String" resultType="DateVo">
		<![CDATA[
			SELECT 
				reg_date, upd_date 
			FROM 
				tbcm_map 
			WHERE			
				map_uid = #{map_uid}	
			ORDER BY upd_date DESC LIMIT 1
		]]>
	</select>
	
		
	<select id="selectMap" parameterType="String" resultType="MapVo">
		SELECT 
			 latitude1, longitude1, latitude2, longitude2, latitude3, longitude3, latitude4, longitude4
			,center_latitude, center_longitude, width, height
		FROM 
			tbcm_map t1 
		WHERE
			map_uid = #{map_uid}	
		LIMIT 1		
	</select>
	
	
</mapper>