<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nemustech.platform.lbs.common.mapper.ServerConfigMapper">
	<select id="list" resultType="ServerConfig">
		<include refid="com.nemustech.common.mapper.CommonMapper.page_top" />

		<![CDATA[
SELECT
		]]>

		<if test="hint != null">
			<![CDATA[
${hint}
			]]>
		</if>

		<if test="fields == null">
			<![CDATA[
reg_date reg_date,upd_date upd_date,config_uid config_uid,alive_report alive_report,gps_onoff gps_onoff,danger_config danger_config,vehicle_config vehicle_config
			]]>
		</if>
		<if test="fields != null">
			<![CDATA[
${fields}
			]]>
		</if>

		<include refid="com.nemustech.common.mapper.CommonMapper.page_middle" />

		<![CDATA[
  FROM tbcm_server_config
		]]>

		<where>
			<if test="condition != null">
				<![CDATA[
   AND ${condition}
				]]>
			</if>

			<if test="reg_date != null">
				<![CDATA[
   AND reg_date = #{reg_date}
				]]>
			</if>
			<if test="upd_date != null">
				<![CDATA[
   AND upd_date = #{upd_date}
				]]>
			</if>
			<if test="config_uid != null">
				<![CDATA[
   AND config_uid = #{config_uid}
				]]>
			</if>
			<if test="alive_report != null">
				<![CDATA[
   AND alive_report = #{alive_report}
				]]>
			</if>
			<if test="gps_onoff != null">
				<![CDATA[
   AND gps_onoff = #{gps_onoff}
				]]>
			</if>
			<if test="danger_config != null">
				<![CDATA[
   AND danger_config = #{danger_config}
				]]>
			</if>
			<if test="vehicle_config != null">
				<![CDATA[
   AND vehicle_config = #{vehicle_config}
				]]>
			</if>
		</where>

		<if test="having != null">
			<![CDATA[
HAVING ${having}
			]]>
		</if>

		<if test="group_by != null">
			<![CDATA[
GROUP BY ${group_by}
			]]>
		</if>

		<if test="order_by != null">
			<![CDATA[
ORDER BY ${order_by}
			]]>
		</if>

		<include refid="com.nemustech.common.mapper.CommonMapper.page_bottom" />
	</select>

	<select id="count" parameterType="ServerConfig" resultType="java.lang.Integer">
		<include refid="com.nemustech.common.mapper.CommonMapper.count_top" />

		<![CDATA[
  FROM tbcm_server_config
		]]>

		<where>
			<if test="condition != null">
				<![CDATA[
   AND ${condition}
				]]>
			</if>

			<if test="reg_date != null">
				<![CDATA[
   AND reg_date = #{reg_date}
				]]>
			</if>
			<if test="upd_date != null">
				<![CDATA[
   AND upd_date = #{upd_date}
				]]>
			</if>
			<if test="config_uid != null">
				<![CDATA[
   AND config_uid = #{config_uid}
				]]>
			</if>
			<if test="alive_report != null">
				<![CDATA[
   AND alive_report = #{alive_report}
				]]>
			</if>
			<if test="gps_onoff != null">
				<![CDATA[
   AND gps_onoff = #{gps_onoff}
				]]>
			</if>
			<if test="danger_config != null">
				<![CDATA[
   AND danger_config = #{danger_config}
				]]>
			</if>
			<if test="vehicle_config != null">
				<![CDATA[
   AND vehicle_config = #{vehicle_config}
				]]>
			</if>
		</where>
	</select>

	<insert id="insert" parameterType="ServerConfig">
		<selectKey keyProperty="config_uid" resultType="long" order="BEFORE">
			<![CDATA[
SELECT fn_make_uid()
  FROM dual
			]]>
		</selectKey>

		<![CDATA[
INSERT INTO tbcm_server_config (
		]]>

		<trim prefixOverrides=",">
			<if test="reg_date != null">
				<![CDATA[
, reg_date
				]]>
			</if>
			<if test="upd_date != null">
				<![CDATA[
, upd_date
				]]>
			</if>
			<if test="config_uid != null">
				<![CDATA[
, config_uid
				]]>
			</if>
			<if test="alive_report != null">
				<![CDATA[
, alive_report
				]]>
			</if>
			<if test="gps_onoff != null">
				<![CDATA[
, gps_onoff
				]]>
			</if>
			<if test="danger_config != null">
				<![CDATA[
, danger_config
				]]>
			</if>
			<if test="vehicle_config != null">
				<![CDATA[
, vehicle_config
				]]>
			</if>
		</trim>

		<![CDATA[
) VALUES (
		]]>

		<trim prefixOverrides=",">
			<if test="reg_date != null">
				<![CDATA[
, #{reg_date}
				]]>
			</if>
			<if test="upd_date != null">
				<![CDATA[
, #{upd_date}
				]]>
			</if>
			<if test="config_uid != null">
				<![CDATA[
, #{config_uid}
				]]>
			</if>
			<if test="alive_report != null">
				<![CDATA[
, #{alive_report}
				]]>
			</if>
			<if test="gps_onoff != null">
				<![CDATA[
, #{gps_onoff}
				]]>
			</if>
			<if test="danger_config != null">
				<![CDATA[
, #{danger_config}
				]]>
			</if>
			<if test="vehicle_config != null">
				<![CDATA[
, #{vehicle_config}
				]]>
			</if>
		</trim>

		<![CDATA[
)
		]]>
	</insert>

	<update id="update" parameterType="ServerConfig">
		<![CDATA[
UPDATE tbcm_server_config
		]]>

		<set>
			<if test="reg_date != null">
				<![CDATA[
reg_date = #{reg_date},
				]]>
			</if>
			<if test="upd_date != null">
				<![CDATA[
upd_date = #{upd_date},
				]]>
			</if>
			<if test="alive_report != null">
				<![CDATA[
alive_report = #{alive_report},
				]]>
			</if>
			<if test="gps_onoff != null">
				<![CDATA[
gps_onoff = #{gps_onoff},
				]]>
			</if>
			<if test="danger_config != null">
				<![CDATA[
danger_config = #{danger_config},
				]]>
			</if>
			<if test="vehicle_config != null">
				<![CDATA[
vehicle_config = #{vehicle_config},
				]]>
			</if>
		</set>

		<where>
			<if test="config_uid != null">
				<![CDATA[
   AND config_uid = #{config_uid}
				]]>
			</if>

			<if test="condition != null">
				<![CDATA[
   AND ${condition}
				]]>
			</if>
		</where>
	</update>

	<delete id="delete" parameterType="ServerConfig">
		<![CDATA[
DELETE FROM tbcm_server_config
		]]>

		<where>
			<if test="condition != null">
				<![CDATA[
   AND ${condition}
				]]>
			</if>

			<if test="reg_date != null">
				<![CDATA[
   AND reg_date = #{reg_date}
				]]>
			</if>
			<if test="upd_date != null">
				<![CDATA[
   AND upd_date = #{upd_date}
				]]>
			</if>
			<if test="config_uid != null">
				<![CDATA[
   AND config_uid = #{config_uid}
				]]>
			</if>
			<if test="alive_report != null">
				<![CDATA[
   AND alive_report = #{alive_report}
				]]>
			</if>
			<if test="gps_onoff != null">
				<![CDATA[
   AND gps_onoff = #{gps_onoff}
				]]>
			</if>
			<if test="danger_config != null">
				<![CDATA[
   AND danger_config = #{danger_config}
				]]>
			</if>
			<if test="vehicle_config != null">
				<![CDATA[
   AND vehicle_config = #{vehicle_config}
				]]>
			</if>
		</where>
	</delete>
</mapper>