<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nemustech.platform.lbs.ngms.mapper.VehicleAppApiMapper">
	<!-- 160804 [개인폰] [신규] -->
	<resultMap type="MetaZoneVo" id="meta_zone">
		<result property="meta_zone_id" column="meta_zone_uid" />
		<result property="meta_zone_name" column="name" />
		<result property="restricted" column="is_restricted" />
		<result property="polygon" column="polygon" />
		<collection property="zone_points" ofType="CoordinateOrder">
			<result property="x" column="x" />
			<result property="y" column="y" />
			<result property="lat" column="latitude" />
			<result property="lng" column="longitude" />
			<result property="order" column="order_no" />
		</collection>
	</resultMap>	

	<!-- [개인폰] [신규] [안전운행13] FCM_token 갱신-->
	<update id="updateVehicleDevicePushId" parameterType="AppPwdEventVo">
		UPDATE 
			tbvc_device
		SET
			 push_id = #{fcm_token}
		WHERE
			device_no = #{device_no}
	</update>
	

	<!-- 160804 [개인폰] [신규] [안전운행 16] Meta Zone 정보 조회 -->
	<select id="selectMetaZoneList" resultMap="meta_zone">
		SELECT 
		    t1.meta_zone_uid,
		    t1.name,
		    t1.is_restricted,
		    (select max(order_no) from tbvc_meta_zone_coord where meta_zone_uid = t1.meta_zone_uid) AS polygon,
		    t2.x,
		    t2.y,
		    t2.latitude,
		    t2.longitude,
		    t2.order_no    
		FROM
		    tbvc_meta_zone t1 INNER JOIN tbvc_meta_zone_coord t2 ON t1.meta_zone_uid = t2.meta_zone_uid
		ORDER BY t1.meta_zone_uid, t2.order_no
	</select>


	<!-- 160804 [개인폰] [신규] [안전운행10] 도로 지도 리소스 정보 조회 -->
	<select id="selectAppResourceList" resultType="AppResourceFileInfoVo">
		SELECT 
		    file_name
		    ,file_type
		FROM
		    tbvc_app_resource
		ORDER BY file_name
	</select>
	
	<!-- // 1608 [신규] [공통] 리소스 정보의 최신 갱신 여부 -->
	<select id="getIsLastModifiedResource" resultType="DateVo">
		SELECT 
		    reg_date, upd_date
		FROM
		    tbvc_app_resource
		ORDER BY upd_date DESC
		LIMIT 1 
	</select>

	<!-- 	// 1608 [신규] [공통] MetaZone 정보의 최신 갱신 여부 -->
	<select id="getIsLastModifiedMetaZone" resultType="DateVo">
		SELECT 
		    reg_date, upd_date
		FROM
		    ((SELECT reg_date, upd_date FROM tbvc_meta_zone
			ORDER BY upd_date DESC
		    LIMIT 1) 
			UNION ALL 
			(SELECT reg_date, upd_date FROM tbvc_meta_zone_coord
		    ORDER BY upd_date DESC
		    LIMIT 1)) t
		ORDER BY upd_date DESC
		LIMIT 1
	</select>	
</mapper>