<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nemustech.platform.lbs.ngms.mapper.MapEventApiMapper">
	<!--  -->
	<resultMap type="VehicleStatusVo" id="vehicle_status">
		<result property="vehicle_uid" column="vehicle_uid" />
		<result property="device_no" column="device_no" />
		<result property="vehicle_no" column="vehicle_no" />
		<result property="come_in_date" column="come_in_date" />
		<result property="go_out_date" column="go_out_date" />
		<result property="is_out" column="is_out" />
		<result property="had_over_speed" column="had_over_speed" />
		<result property="had_on_restrict_area" column="had_on_restrict_area" />
		<result property="last_x" column="last_x" />
		<result property="last_y" column="last_y" />
		<result property="last_latitude" column="last_latitude" />
		<result property="last_longitude" column="last_longitude" />
		<result property="last_speed" column="last_speed" />
		<result property="last_is_over_speed" column="last_is_over_speed" />
		<result property="last_on_restrict_area" column="last_on_restrict_area" />
		<result property="vehicle_type" column="vehicle_type" />	
	</resultMap>
	
	<resultMap type="DrivingEventVo" id="driving_event">
		<result property="event_uid" column="event_uid" />
		<result property="vehicle_uid" column="vehicle_uid" />
		<result property="section_uid" column="section_uid" />
		<result property="vehicle_no" column="vehicle_no" />
		<result property="device_no" column="device_no" />
		<result property="speed" column="speed" />
		<result property="latitude" column="latitude" />
		<result property="longitude" column="longitude" />
		<result property="x" column="x" />
		<result property="y" column="y" />
		<result property="is_over_speed" column="is_over_speed" />
		<result property="is_on_road" column="is_on_road" />
		<result property="is_on_restrict_area" column="is_on_restrict_area" />
		<result property="reg_date" column="reg_date" />
	</resultMap>
	
	<resultMap type="DrivingEventExcelVo" id="driving_event_excel">
		<result property="event_uid" column="event_uid" />
		<result property="vehicle_uid" column="vehicle_uid" />
		<result property="section_uid" column="section_uid" />
		<result property="vehicle_no" column="vehicle_no" />
		<result property="device_no" column="device_no" />
		<result property="speed" column="speed" />
		<result property="is_over_speed" column="is_over_speed" />
		<result property="is_on_road" column="is_on_road" />
		<result property="is_on_restrict_area" column="is_on_restrict_area" />
		<result property="reg_date" column="reg_date" />
		<result property="come_in_date" column="come_in_date" />
		<result property="no" column="no" />
	</resultMap>
	
	<resultMap type="RoadSectionVo" id="road_section">
		<result property="section_uid" column="section_uid" />
		<result property="line" column="line" />
		<result property="oneway_type" column="oneway_type" />
		<result property="speed_limit" column="speed_limit" />
		<result property="is_restrict_area" column="is_restrict_area" />
		<result property="x1" column="x1" />
		<result property="y1" column="y1" />
		<result property="x2" column="x2" />
		<result property="y2" column="y2" />
		<result property="restrict_area" column="restrict_area" />
	</resultMap>
	
	<resultMap type="ViolationHistoryVo" id="violation_history">
		<result property="violation_uid" column="violation_uid" />
		<result property="vehicle_uid" column="vehicle_uid" />
		<result property="begin_section_uid" column="begin_section_uid" />
		<result property="end_section_uid" column="end_section_uid" />
		<result property="come_in_date" column="come_in_date" />
		<result property="go_out_date" column="go_out_date" />
		<result property="violation_type" column="violation_type" />
		<result property="in_speed" column="in_speed" />
		<result property="avg_speed" column="avg_speed" />
		<result property="peak_speed" column="peak_speed" />
	</resultMap>	
		
	<!-- 
		[2016/09/08] 현재상태 조회시 10Km 이상만 조회되도록  "and NVL(last_speed,0) >= 10" 추가
	 -->
	<select id="selectVehicleStatusList" parameterType="VehicleStatusRequestVo" resultType="VehicleStatusVo">
		SELECT 
			vehicle_uid,
			NVL(device_no,'') as device_no,
			NVL(vehicle_no, '') as vehicle_no,
			NVL(come_in_date, '') as come_in_date,
			NVL(go_out_date,'') as go_out_date,
			is_out, 
			NVL(had_over_speed,0) as had_over_speed, 
			NVL(had_on_restrict_area,0) as had_on_restrict_area,
			NVL(last_x,0) as last_x,
			NVL(last_y,0) as last_y,
			NVL(last_latitude,0) as last_latitude,
			NVL(last_longitude,0) as last_longitude,
			NVL(last_speed,0) as last_speed,
			NVL(last_is_over_speed,0) as last_is_over_speed,
			NVL(last_on_restrict_area,0) as last_on_restrict_area,
			<!-- [2016/08/18] added by capsy -->
			NVL(vehicle_type,'') as vehicle_type
		FROM tbvc_vehicle
		WHERE
			<if test="is_current == 1">
				is_out = 0
				and NVL(last_speed,0) > 10
			</if>
			<if test="is_current != 1">	
				come_in_date <![CDATA[ >= ]]> #{from} 
				and come_in_date <![CDATA[ <= ]]> #{to}
				and vehicle_no like CONCAT('%', CONCAT(#{vehicle_no}, '%'))
				<if test="violation_type == 1">	
					and had_over_speed <![CDATA[ >=]]> 1
				</if>
				<if test="violation_type == 2">	
					and had_on_restrict_area <![CDATA[ >=]]> 1
				</if>		
			</if>
		ORDER BY come_in_date, vehicle_uid  DESC
	</select>
	
		
		
	<select id="selectViolationHistoryList" parameterType="String" resultMap="violation_history">
	SELECT * FROM (
		SELECT 
			violation_uid , 
			vehicle_uid, 
			NVL(begin_section_uid, '') as begin_section_uid,
			NVL(end_section_uid, '') as end_section_uid,
			NVL(come_in_date, '') as come_in_date,
			NVL(go_out_date,'') as go_out_date,
			violation_type, 
			NVL(in_speed,0) as in_speed,
			NVL(avg_speed,0) as avg_speed,
			NVL(peak_speed,0) as peak_speed
		FROM tbvc_violation_history
		WHERE
			vehicle_uid = #{vehicleUid}
		ORDER BY come_in_date, vehicle_uid DESC
<![CDATA[
	) WHERE ROWNUM <= 1000
]]>
	</select>
	
	
	<select id="selectDrivingEventList" parameterType="String" resultMap="driving_event">
		SELECT 
			event_uid , 
			vehicle_uid, 
			section_uid, 
			NVL(vehicle_no, '') as vehicle_no,
			NVL(device_no, '') as device_no,
			NVL(speed,0) as speed,
			NVL(latitude,0) as latitude,
			NVL(longitude,0) as longitude,
			NVL(x,0) as x,
			NVL(y,0) as y,
			NVL(is_over_speed,0) as is_over_speed,
			NVL(is_on_road,1) as is_on_road,
			NVL(is_on_restrict_area,0) as is_on_restrict_area,
			NVL(reg_date, '') as reg_date
		FROM tbvc_driving_event
		WHERE
			vehicle_uid = #{vehicleUid}
		ORDER BY event_uid ASC	
	</select>
	
	<select id="selectDrivingEventExcelList" parameterType="VehicleStatusRequestVo" resultMap="driving_event_excel">
		SELECT 
		    b.no,
		    event_uid,
		    a.vehicle_uid,
		    section_uid,
		    NVL(a.vehicle_no, '') AS vehicle_no,
		    NVL(a.device_no, '') AS device_no,
		    NVL(a.speed, 0) AS speed,
		    NVL(a.is_over_speed, 0) AS is_over_speed,
		    NVL(a.is_on_road, 1) AS is_on_road,
		    NVL(a.is_on_restrict_area, 0) AS is_on_restrict_area,
		    NVL(a.reg_date, '') AS reg_date,
		    NVL(b.come_in_date, '') AS come_in_date
		FROM
		    tbvc_driving_event a LEFT OUTER JOIN
		    (
				SELECT
					no, vehicle_uid, device_no, come_in_date
				FROM
					(SELECT ROWNUM AS no, t.* FROM (
						SELECT
						come_in_date,
						vehicle_uid,
						NVL(device_no, '')  AS device_no,
						NVL(vehicle_no, '') AS vehicle_no
					FROM
						tbvc_vehicle
					WHERE
						come_in_date <![CDATA[ >= ]]> #{from} 
					and come_in_date <![CDATA[ <= ]]> #{to}
					and vehicle_no like CONCAT('%', CONCAT(#{vehicle_no}, '%'))
					<if test="violation_type == 1">	
						and had_over_speed <![CDATA[ >=]]> 1
					</if>
					<if test="violation_type == 2">	
						and had_on_restrict_area <![CDATA[ >=]]> 1
					</if>
					ORDER BY come_in_date DESC , vehicle_uid ASC) t)
				ORDER BY no DESC
		    ) b ON (a.vehicle_uid = b.vehicle_uid and a.device_no = b.device_no)
		WHERE
	        b.come_in_date <![CDATA[ >= ]]> #{from} 
			and b.come_in_date <![CDATA[ <= ]]> #{to}
	        and a.vehicle_no like CONCAT('%', CONCAT(#{vehicle_no}, '%'))
        <if test="violation_type == 1">	
			and is_over_speed <![CDATA[ =]]> 1
		</if>
		<if test="violation_type == 2">	
			and is_on_restrict_area <![CDATA[ =]]> 1
		</if>
		ORDER BY b.come_in_date ASC
	</select>
	
	<!-- [2016/08/18]  deprecated(tbvc_road_section.is_restrict_area)
	 -->
	<select id="selectRoadSectionList" parameterType="RoadSectionListVo" resultMap="road_section">
		SELECT 
			section_uid , 
			line, 
			NVL(speed_limit, 0) as speed_limit,
			oneway_type,
			NVL(
				(
					SELECT 
					    case when count(*) > 0 then 1 else 0 end
					FROM
					    tbvc_vehicle_type_restrict t2
					WHERE
					    t2.section_uid = t1.section_uid
					    and t2.is_restrict_area = 1
						<if	test=" vehicle_type > ''">
						and t2.vehicle_type = #{vehicle_type}
						</if>
					GROUP BY t2.section_uid
			), 0) AS is_restrict_area,
			x1,
			y1,
			x2,
			y2,
			(
				SELECT
				    WM_CONCAT(is_restrict_area)
				FROM
				    (SELECT * FROM tbvc_vehicle_type_restrict ORDER BY vehicle_type_order) t2
				WHERE
				    t2.section_uid = t1.section_uid
			) AS restrict_area
		FROM tbvc_road_section t1
		ORDER BY section_uid ASC	
	</select>
	
	
	<update id="updateSpeedLimit" parameterType="SpeedLimitRequestVo">
			UPDATE tbvc_road_section
			SET	
				speed_limit = #{speed_limit},
				upd_date = SYSDATE
			WHERE
			<if test="is_all == 1">
				<![CDATA[ section_uid  > 0 ]]>
			</if>
			<if test="is_all != 1">
				section_uid in
				<foreach collection="sectionList" item="item" separator="," open="(" close=")">
            		#{item}
        		</foreach>
        	</if>		
	</update>
	
	<!--  [2016/08/18] tbvc_road_section to tbvc_vehicle_type_restrict -->
	<update id="updateRestrictArea" parameterType="RestrictAreaRequestVo">
			UPDATE tbvc_vehicle_type_restrict
			SET	
				is_restrict_area = #{is_restrict_area},
				upd_date = SYSDATE
			WHERE
				vehicle_type = #{vehicle_type}
				and section_uid in
				<foreach collection="sectionList" item="item" separator="," open="(" close=")">
            		#{item}
        		</foreach>				
	</update> 		
</mapper>