@charset "utf-8";

/* login */
#login-wrap {
	width: 796px;
	margin: 0 auto;
	padding-top: 131px;
	padding-bottom: 55px;
}
#login-wrap #contents {
	border-top: 1px solid #242424;	
	background: #f8f8f8;
	padding: 30px 50px;
}
#login-wrap .login-title {
	height: 61px;
	/* background: url(../img/login_title.png) 0 0 no-repeat; */
	margin-bottom: 45px;
	font-family: 'Nanum-Gothic','NanumGothic','Nanum Gothic','NanumGothic','나눔고딕';
}
#login-wrap .login-title h3 {
	font-size: 32px;
	margin-bottom: 10px;
	font-weight: 600;
}
#login-wrap .login-title p {
	font-size: 19px;
	color: #777;
}
#login-wrap #formWrap .left-form {
	float: left;
	padding-right: 32px;
	background: url(../img/line_dot.png) 100% 0 no-repeat;
}
#login-wrap #formWrap .login-form {
	margin-bottom: 20px;
}
#login-wrap #formWrap .group-box {
	float: left;
}
#login-wrap #formWrap .control-label {
	width: 100px;
	height: 40px;
	line-height: 40px;
	text-indent: 2px;
	font-size: 16px;
	color: #444;
	font-weight: 600;
	float: left;
	font-family: 'Nanum-Gothic','NanumGothic','Nanum Gothic','NanumGothic','나눔고딕';
}
#login-wrap #formWrap .form-group:first-child {
	margin-bottom: 10px;
}
#login-wrap #formWrap .input-box {
	width: 250px;
	height: 40px;
	float: left;
}
#login-wrap #formWrap .form-input {
	border: 1px solid #acacac;	
	width: 100%;
	height: 100%;
	padding: 0 15px;
	font-size: 15px;
	color: #666;
}
#login-wrap #formWrap .form-actions {
	width: 150px;
	height: 90px;
	float: left;
	margin-left: 10px;
}
#login-wrap #formWrap .form-actions .btn {
	width: 100%;
	height: 100%;
	border: 1px solid #000;
	background: #242424;
	color: #fff;
	font-size: 25px;
	font-weight: 600;
}
#formWrap .user-find {
	padding-top: 20px;
	border-top: 1px solid #d4d4d4;
}
#formWrap .user-find ul {
	float: right;
}
#formWrap .user-find ul li {
	float: left;
	background: url(../img/lock.png) 0 0 no-repeat;
	padding-left: 17px;
	line-height: 17px;
	position: relative;
}
#formWrap .user-find ul li:first-child {
	padding-right: 14px;
	margin-right: 12px;	
}
#formWrap .user-find ul li:first-child .line {
	width: 1px;
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;	
	background: url(../img/login_find_line.png) 100% 50% no-repeat;
}
#formWrap .user-find ul li + li {
	background: url(../img/reset.png) 0 0 no-repeat;
	padding-left: 19px;
}
#formWrap .user-find ul li button {
	background-color: transparent;
	font-weight: 600;
	font-size: 14px;
	color: #666;
	display: block;
	padding: 0 2px;
	text-decoration: underline;
}
#formWrap .right-form {
	width: 124px;
	height: 149px;
	background: url(../img/circle_car.png) 0 0 no-repeat;
	position: relative;
	float: left;
	margin-left: 30px;
}

/* add wwweojin */
#formWrap .right-form-safe {
	width: 124px;
	height: 149px;
	background: url(../img/circle_safe.png) 0 0 no-repeat;
	position: relative;
	float: left;
	margin-left: 30px;
}

#formWrap .right-form p {
	font-size: 15px;
	position: absolute;
	bottom: 0;
	width: 100%;
	font-family: 'Nanum-Gothic','NanumGothic','Nanum Gothic','NanumGothic','나눔고딕';
	color: 32424px;
	text-align: center;
	font-weight: 600;
}

#formWrap .right-form-safe p {
	font-size: 15px;
	position: absolute;
	bottom: 0;
	width: 100%;
	font-family: 'Nanum-Gothic','NanumGothic','Nanum Gothic','NanumGothic','나눔고딕';
	color: 32424px;
	text-align: center;
	font-weight: 600;
}


.notice p {
	padding: 20px 0;
	font-size: 12px;
	color: #767676;
}

/* login pop-up 세부스타일 */
.login .form-wrap {
	padding: 0 20px;
}
.login .form-wrap .input-box {
	width: 210px;
}
.next-box,
.last-box {
	display: none;
}
.next-box .find-user-id,
.last-box .find-user-id {
	height: 138.5px;
	border-top: 2px solid;
	border-bottom: 1px solid;
	border-color: #545454;
}
.find-user-id .table-cell {
	background: #f8f8f8;
}
.find-user-id span {
	font-size: 12px;
	color: #666;
	display: inline-block;
	text-align: center;
	width: 100%;
}
.find-user-id .find-id {
	margin-top: 20px;
	font-size: 14px;
	color: #444444;
	font-weight: 600;
}	
.certified-count {
	font-size: 12px;
	color: #666;
	vertical-align: middle;
	display: inline-block;
	line-height: 26px;
	margin-left: 21px;
}
