@charset "utf-8";

/* wrap */
#wrap {
	min-height: 100%;
	position: relative;
}
#wrap .wrap-in {
	width: 1150px;
	margin: 0 auto;
	padding-top: 18px;
}
/* header */
#header .header-top {
	margin-bottom: 17px;
}
#header .logo {
	float: left;
}
#header .head-contents {
	float: right;
	background: #f8f8f8;
	min-width: 426px;
	padding: 10px 15px;
	font-size: 12px;
}
#header .head-contents .left-admin {
	float: left;
}
#header .head-contents .right-admin {
	float: right;
	padding-left: 16px;
	background: url(../img/admin_line_dot.png) 0 50% no-repeat;
	margin-left: 20px;
	display: table;
	height: 45px;
}
.head-contents .admin {
	margin-bottom: 3px;
}
.head-contents .admin .user-id {
	float: left;
	color: #666;
	line-height: 21px;
	margin-right: 12px;
}
.head-contents .admin .user-id span {
	color: #000;
	font-weight: 600;
	text-decoration: underline;
}
.head-contents button {
	background: #767676;
	width: 98px;
	display: block;
	height: 21px;
	color: #fff;
	font-size: 12px;
	font-weight: 600;
}
.head-contents button.info-btn {
	margin-top: 3px;
	display: block;
}
.super-login .head-contents button.info-btn {
	display: block;
}
.head-contents button.super-btn {
	margin-top: 3px;
	display: none;
}
.super-login .head-contents button.super-btn {
	display: block;
}
.head-contents .last-log ul li {
	float: left;
	color: #333;
	padding-left: 9px;
	background: url(../img/head_list_dot.png) 0 49% no-repeat;
	line-height: 21px;
}
.head-contents .last-log ul li span {
	color: #666;
}
.header-bot #gnb {
	background: #242424;
}
.header-bot #gnb > li {
	float: left;
	width: 192px;
	border-left: 1px solid #666;
	background: #242424;
}
.header-bot #gnb > li.super-gnb {
	display: none;
}
.header-bot #gnb > li.last-gnb {
	border-right: 1px solid #666;
}
.super-login .header-bot #gnb > li.super-gnb {
	display: block;
}
.super-login .header-bot #gnb > li.last-gnb {
	border-right: 0;
}
.header-bot #gnb > li:first-child {
	border-left: 0;
}
.header-bot #gnb > li:last-child {
	width: 190px;
}
.header-bot #gnb li a {
	width: 100%;
	height: 100%;
	display: block;
	text-align: center;
}
.header-bot #gnb > li > a {
	line-height: 44px;
	color: #fff;
	font-weight: 400;
	font-size: 16px;
	font-family: 'Nanum-Gothic','NanumGothic','Nanum Gothic','NanumGothic','나눔고딕';
}
.header-bot #gnb > li:hover a,
.header-bot #gnb > li:focus a,
.header-bot #gnb > li:active a,
.header-bot #gnb > li.target a {
	background: #c60353;
}
.header-bot #gnb > li:hover > a,
.header-bot #gnb > li:focus > a,
.header-bot #gnb > li:active > a,
.header-bot #gnb > li.target > a {
	font-weight: 600;
}
.header-bot #gnb.super-gnb > li {
	width: 287.5px;
}

/* footer */
#footer {
	position: relative;
	line-height: 54px;
	border-top: 1px solid #b2b2b2;
	width: 1150px;
	margin: -55px auto 0;
}
#footer address.copy {
	color: #767676;
	font-family: 'Verdana';
	font-size: 11px;
	text-align: center;
	background: url(../img/footer_bg.png) 0 0 repeat-x;
	font-style: normal;
}




/* pop-up */
.pop-wrap {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: none;
	z-index: 1;
}
.pop-bg {
	position: absolute;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.4;
	filter: alpha(opacity=0.4);
	-ms-filter: "alpha(opacity=0.4)";
	-khtml-opacity: 0.4;
	-moz-opacuty: 0.4;
	top: 0;
	left: 0;
}
.pop-up {
	width: 682px;
	position: absolute;
	top: 160px;
	left: 50%;
	margin-left: -342px;
	background: #fff;
	border: 1px solid #242424;
	padding: 20px;
}
.pop-header {
	padding: 1px;
	height: 60px;
	background: #242424;
}
.pop-header .pop-title {
	float: left;
	line-height: 58px;
	color: #fff;
	font-size: 24px;
	padding-left: 20px;
	font-family: 'Nanum-Gothic','NanumGothic','Nanum Gothic','NanumGothic','나눔고딕';
	font-weight: 600;
}
.pop-header .pop-close {
	width: 61px;
	height: 100%;
	float: right;
	background: #242424;
	border-left: 1px solid #666;	
}
.pop-contents {

}
.pop-contents .pop-info {
	padding: 30px 20px;
}
.pop-contents .pop-info p {
	padding-left: 28px;
	line-height: 21px;
	color: #666;
	background: url(../img/notice_info.png) 0 1px no-repeat;
}
.pop-contents .form-wrap .form-group .table-cell:first-child {
	width: 180px;	
}

/* table-style */
.table-list .table-title {
	font-size: 26px;
	font-weight: 400;
	color: #000;
	/* padding-top: 30px;
	padding-bottom: 20px; */
	font-family: 'Nanum-Gothic','NanumGothic','Nanum Gothic','NanumGothic','나눔고딕';
}
.table-list .table-title span {
	background: url(../img/table_title_bar.png) 0 0 no-repeat;
	padding-top: 11px;
	padding-bottom: 10px;
	display: inline-block;
}
.table-style {
	width: 100%;
	border-top: 2px solid;
	border-bottom: 1px solid;
	border-color: #545454;
	table-layout: fixed;
}
.table-style tbody tr {
	border-top: 1px solid #d4d4d4;	
}
.table-style tbody tr:first-child {
	border-top: 0;
}
.table-style thead tr th {
	background: #e4e4e4;
	color: #555555;	
	padding: 5px 5px;
	height: 37px;
}
.table-style tbody tr td {
	color: #666;
	padding: 5px 5px;
	height: 35px;
}
.table-style thead tr th,
.table-style tbody tr td {
	border-left: 1px solid #d4d4d4;
	/* line-height: 16px; */
}
.table-style thead tr th:first-child,
.table-style tbody tr td:first-child {
	border-left: 0;
}
.table-list .form-actions {
	padding: 20px 0 10px;
	text-align: right;
}
.table-list .form-actions .btn {
    min-width: 94px;
/* 	padding: 0 5px;  */
	padding: 5px 30px; 
    height: 42px;
    background: #545454;
    color: #fff;
	font-size: 15px;
    font-weight: 600;
	box-shadow: 0 1px #d9d9d9;
}
.dataTables_paginate {
	white-space: nowrap;
	display: inline-block;
	vertical-align: middle;
}
.pn-wrap {
	padding-bottom: 80px;
	text-align: center;
}
.pagination {
    display: inline-block;
	white-space: nowrap;
}
.pagination > li {
    display: inline-block;
}
.pagination > li > a {
	display: block;
    padding: 0 12px;
	line-height: 26px;
	color: #767676;
}
.pn-wrap .paginate_button {
	display: inline-block;
	padding: 0 12px;
	line-height: 26px;
	color: #767676;
	cursor: pointer;
}
.pagination > .active > a,
.pagination > li:hover > a,
.pagination > li:focus > a,
.pn-wrap .paginate_button.current{
	color: #c60353;
	text-decoration: underline;	
}
.pagination > li.previous > a,
.pagination > li.next > a,
.paginate_button.previous,
.paginate_button.next {
	padding: 0;
	width: 26px;
	text-indent: -9999em;
}
.pagination > li.previous > a,
.paginate_button.previous {
	background: url(../img/pn_previous.png) 0 0 no-repeat;
}
.pagination > li.next > a,
.paginate_button.next {
	background: url(../img/pn_next.png) 0 0 no-repeat;
}
.pagination > .disabled > a:hover {
	cursor: not-allowed !important;
}
/* 데이터테이블 Processing */
.table-wrap {
	position: relative;
	min-height: 135px;
}
.table-wrap .dataTables_processing {
    position: absolute;
	padding-top: 42px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.table-wrap .dataTables_processing .process-in {
	position: relative;
    width: 100%;
    height: 100%;
}
.process {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 1;
	text-align: center;
	margin-left: -28px;
	margin-top: -33.5px;
}
.process p {
	margin-top: 10px;
	font-size: 15px;
}
/* 데이타 테이블 셀렉트 */
.dataTables_length {
	display: inline-block;
	vertical-align: middle;
}
.dataTables_length label {
	display: block;
}
.dataTables_length select {
	margin-left: 10px;
	width: 70px;
	height: 26px;
	-webkit-appearance: none;  /* 네이티브 외형 감추기 */
	-moz-appearance: none;
	appearance: none;
	background: #fff url(../img/select-arrow.png) 45px 50% no-repeat;
	border: 1px solid #acacac;
	border-radius: 0px; /* iOS 둥근모서리 제거 */
	font-size: 12px;
	color: #666;
	padding-left: 5px;
}
.dataTables_length select option {
	padding-left: 5px;
}
/* 데이터 다운로드,업로드 process */
.data-process {
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
	display: none;
}
.data-process .process-bg {
	width: 100%;
	height: 100%;
	background: #242424;
	opacity: 0.2;
	filter: alpha(opacity=0.2);
	-ms-filter: "alpha(opacity=0.2)";
	-khtml-opacity: 0.2;
	-moz-opacuty: 0.2;
}

/* summery-table */
.table-style.summery-table tbody tr td:first-child {
	background: #f8f8f8;
	color: #555;
	font-weight: 600;
}
.table-style td.btn-td {
	position: relative;
}
.table-style .btn {
	position: absolute;
	width: 75px;
	height: 26px;
	border: 1px solid #6a6a6a;
	background: #767676;
	color: #fff;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
	font-size: 12px;
	top: 50%;
	left: 50%;
	margin-top: -13px;
	margin-left: -37.5px;
}
/* table-2-step */
.table-2-step.form-wrap .group-box.first-row {
	border-bottom: 0;
}
.table-2-step.form-wrap .group-box.first-row + .group-box {
	border-top: 0;
}
/* table-3-step */
.table-3-step.form-wrap .group-box.first-row {
	border-bottom: 0;
}
.table-3-step.form-wrap .group-box.first-row + .group-box {
	border-top: 0;
	border-bottom: 0;
}
.table-3-step.form-wrap .group-box.first-row + .group-box + .group-box {
	border-top: 0;
}



/* tab-style */
.tab-style {
	
}
.tab-style .tab-box {
    position: relative;
    width: 100%;
}
.tab-style .tab-box li {
	float: left;
	margin-left: -1px;
}
.tab-style .tab-box li:first-child {
	margin-left: 0;
}
.tab-style .tab-box li .tab-btn {
	display: block;
	position: relative;
	text-align: center;
	min-width: 182px;
	padding: 0 48px;
	height: 43px;
	line-height: 40px;
	font-size: 15px;
	font-family: 'Nanum-Gothic','NanumGothic','Nanum Gothic','NanumGothic','나눔고딕';
	color: #555;
	background: #ececec;
	border: 1px solid #d4d4d4;
}
.tab-style .tab-box li.active .tab-btn {
	color: #333;
	border-top-width: 2px;
	border-top-color: #c60352;
	border-bottom-color: #fff;
	background: #fff;
	z-index: 1;
}
/* add wwweojin */
.danger_zone_r .tab-style .tab-box li.active .tab-btn {
	color: #333;
	border-width: 1px;
	border-color: #c60352;
	background: #fff;
	z-index: 1;
}

.tab-wrap {
	margin-top: -1px;
	border-top: 1px solid #d4d4d4;
	padding-top: 30px;
}
.tab-wrap .tab-contents {
	display: none;
}
.tab-wrap .tab-contents.target {
	display: block;
}
