<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.nemustech.common.mapper.CommonMapper">
<select id="list" resultType="sample">
	<include refid="com.nemustech.common.mapper.IncludeMapper.page_top" />

	<![CDATA[
SELECT id
       name
       ]]>

	<include refid="com.nemustech.common.mapper.IncludeMapper.page_middle" />

	<![CDATA[
  FROM sample
	]]>

	<where>
	<if test="id != null and id != ''">
	<![CDATA[
   AND id = ${id}
	]]>
	</if>
	<if test="name != null and name != ''">
	<![CDATA[
   AND name = ${name}
	]]>
	</if>
	</where>

	<if test="order_by != null and order_by != ''">
	<![CDATA[
ORDER BY 
	]]>
	</if>

	<include refid="com.nemustech.common.mapper.IncludeMapper.page_bottom" />
</select>
</mapper>