<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 샘플 매퍼 -->
<mapper namespace="org.oh.web.mapper.SampleMapper">
	<!-- <cache /> -->

	<select id="list" parameterType="sample" resultType="sample">
		<if test="page_number != null and page_number != 0
			and rows_per_page != null and rows_per_page != 0">
		<![CDATA[
SELECT *
  FROM (
		]]>
		</if>

		<![CDATA[
SELECT id
      ,name
      ,test_id
      ,reg_id
      ,reg_dt
      ,mod_id
      ,mod_dt
		]]>

		<if
			test="page_number != null and page_number != 0
			and rows_per_page != null and rows_per_page != 0
			and order_by != null and order_by != ''">
		<![CDATA[
      ,ROW_NUMBER() OVER (ORDER BY ${order_by}) rnum
		]]>
		</if>

		<![CDATA[
  FROM sample
 WHERE 1=1
		]]>

		<if test="id != null and id != 0">
		<![CDATA[
   AND id = #{id}
		]]>
		</if>

		<if test="name != null and name != ''">
		<![CDATA[
   AND name = #{name}
		]]>
		</if>

		<if test="test_id != null and test_id != ''">
		<![CDATA[
   AND test_id = #{test_id}
		]]>
		</if>

		<if test="order_by != null and order_by != ''">
		<![CDATA[
ORDER BY ${order_by}
		]]>
		</if>

		<if test="page_number != null and page_number != 0
			and rows_per_page != null and rows_per_page != 0">
		<![CDATA[
) WHERE rnum BETWEEN #{rows_per_page} * (#{page_number} - 1) + 1 AND #{rows_per_page} * #{page_number}
ORDER BY rnum
		]]>
		</if>
	</select>

	<insert id="insert" parameterType="sample">
		<selectKey keyProperty="id" resultType="long" order="BEFORE">
			<![CDATA[
SELECT sample_seq.NEXTVAL AS id
  FROM dual
/*SELECT NVL (MAX (id) + 1, 1) AS id
  FROM sample*/
			]]>
		</selectKey>
		
		<![CDATA[
INSERT INTO sample (id
                   ,name
                   ,test_id
                   ,reg_id
                   ,reg_dt
                   ,mod_id
                   ,mod_dt)
VALUES (#{id}
       ,#{name}
       ,#{test_id}
       ,#{reg_id}
       ,TO_CHAR(SYSDATE, 'YYYYMMDDHH24MISS')
       ,#{mod_id}
       ,TO_CHAR(SYSDATE, 'YYYYMMDDHH24MISS'))
		]]>
	</insert>

	<update id="update" parameterType="sample">
		<![CDATA[
UPDATE sample
   SET name = #{name}
      ,test_id = #{test_id}
      ,mod_id = #{mod_id}
      ,mod_dt = TO_CHAR(SYSDATE, 'YYYYMMDDHH24MISS')
 WHERE id = #{id}
		]]>
	</update>

	<delete id="delete" parameterType="sample">
		<![CDATA[
DELETE FROM sample
 WHERE id = #{id}
		]]>
	</delete>

	<insert id="merge" parameterType="sample">
		<selectKey keyProperty="id" resultType="long" order="BEFORE">
		<![CDATA[
SELECT NVL (a.id, b.id) AS id
  FROM (SELECT MAX (id) AS id
          FROM sample
         WHERE id = #{id}) a,
       (SELECT NVL (MAX (id) + 1, 1) AS id FROM sample) b
		]]>
		</selectKey>
		
		<![CDATA[
MERGE INTO sample
      USING DUAL
         ON (id = #{id}) 
 WHEN MATCHED THEN
      UPDATE
         SET name = #{name}
            ,test_id = #{test_id}
       WHERE id = #{id}
 WHEN NOT MATCHED THEN
      INSERT (id
             ,name
             ,test_id
             ,reg_id
             ,reg_dt
             ,mod_id
             ,mod_dt)
      VALUES (#{id}
             ,#{name}
             ,#{test_id}
             ,#{reg_id}
             ,TO_CHAR(SYSDATE, 'YYYYMMDDHH24MISS')
             ,#{mod_id}
             ,TO_CHAR(SYSDATE, 'YYYYMMDDHH24MISS'))
		]]>
	</insert>
</mapper>