<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 공통 매퍼 -->
<mapper namespace="com.nemustech.common.mapper.CommonMapper">
	<sql id="page_top">
		<if test="page_number != null and page_number != 0">
		<![CDATA[
		]]>
		</if>
	</sql>

	<sql id="page_bottom">
		<if test="page_number != null and page_number != 0
			and rows_per_page != null and rows_per_page != 0">
		<bind name="start_idx" value="rows_per_page * (page_number - 1)" />
		<![CDATA[
LIMIT #{start_idx}, #{rows_per_page}
		]]>
		</if>
	</sql>

	<sql id="count_top">
    <![CDATA[
SELECT COUNT(1) AS count
    ]]>
	</sql>
</mapper>